@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

a:hover {
  color: #42b883;
}

@media (min-width: 1024px) {
  #app {
    padding: 1rem 2rem;
  }
}

